* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #081b29;
  color: white;
}

.container {
  display: flex; /* Add this to make the children flex items */
  justify-content: space-between; /* Optional: Adjust spacing between items */
  align-items: flex-start; /* Optional: Align items to the start of the container */
  flex-wrap: wrap; /* Optional: Allow items to wrap if the container is too small */
  padding: 20px; /* Optional: Add some padding to the container */
}

.contact-left {
  padding: 20px;
}

.contact-right {
  margin-left: 490px;
  margin-top: -170px;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  color: aqua;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #fff;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: aqua;
  transform: translateY(-5px);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background: aqua;
  display: inline-block;
  padding: 12px 28px;
  border-radius: 40px;
  font-size: 15px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
}

button:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
}
